{% extends 'base.html' %}

{% load bootstrap4 %}

{% block title %}New Category{% endblock %}


{% block content %}
  <h2 class="mt-3">New Category</h2>
    <form method="post">
    {% csrf_token %}
    {% bootstrap_form form %}
    <div class="row">
      <div class="col-sm">
        <br>
        <button type="submit" class="btn btn-primary float-right"
                onclick="return confirm('Are you sure you want to add the new category?')">Create Category</button>
      </div>
    </div>
  </form>
{% endblock %}
